/* ##########
root
##########*/
:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-pink: hsl(275, 100%, 97%);
    --clr-grayish-purple: hsl(292, 16%, 49%);
    --clr-dark-purple: hsl(292, 42%, 14%);

    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;

    --ff: 'Work Sans', sans-serif;

    --fz-400: 1rem;
    --fz-600: 1.1rem;
    --fz-700: 3rem;
}


/* ##########
reset
##########*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    line-height: 1.2;
    color: var(--clr-dark-purple);
}

p {
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
    font-style: italic;
    color: var(--clr-grayish-purple);
}

body {
    min-width: 100%;
    max-width: 1440px;
    font-size: var(--fz);
    font-family: var(--ff);
}



/* ##########
general styles
##########*/

.minus{
    display: none;
}

.wrapper {
    display: grid;
    place-items: center;
    height: 100dvh;
    background: linear-gradient(to bottom, var(--clr-dark-purple) 35%, var(--clr-light-pink) 35%), url(/assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: lighten;
}

.accordion {
    max-width: 35rem;
    position: absolute;
    padding: 2rem;
    border-radius: 12px;
    background: var(--clr-white);
}


.accordion-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: .5rem;
    font-size: var(--fz-700);
    font-weight: var(--fw-700);
}

.accordion-details {
    margin-top: .5rem;
}

.accordion-details:nth-child(-n + 4) {
    border-bottom: 1px solid var(--clr-light-pink);
    padding-bottom: 2rem;
}

.accordion-trigger input {
    appearance: none;
    outline: none;
    pointer-events: none;
}

.accordion-trigger {
    cursor: pointer;
}

.accordion-trigger h2 {
    cursor: pointer;
    gap: 1rem;
    font-size: var(--fz-400);
    font-weight: var(--fw-600);
    transition: color .3s ease-in-out;
    
    position: relative;
}

.accordion-trigger h2:hover{
    color: hsl(281, 83%, 54%);
}

.accordion-trigger img {
    position: absolute;
    right: 0;
    top: -.4rem;
}

.accordion-summary p {
    font-size: var(--fz-400);
    color: var(--clr-grayish-purple);
}

.accordion-summary {
    display: grid;
    grid-template-rows: 0px;
    opacity: 0;
    transition: opacity .3s ease-in-out, margin-top .3s ease-in-out;
}

.accordion-trigger:has(input:checked) + .accordion-summary {
    grid-template-rows: 1fr;
    opacity: 100%;
    overflow: visible;
    margin-top: 1rem;
}



@media (max-width: 525px) {
    .wrapper {
        height: 110dvh;
        display: flex;
        justify-content: center;
        background-image: url(/assets/images/background-pattern-mobile.svg);
        background-size: contain;
    }

    .accordion {
        max-width: 90%;
    }

    .accordion-title {
        font-size: 3rem;
    }

    .accordion-trigger h2 {
        max-width: 90%;
    }

    .accordion-trigger img {
        right: -1.58rem;
    }
}